@model IEnumerable<FilmeModel>
    @{
        ViewData["Title"] = "listar";
    }

    <h1>Listar Filmes</h1>
    <br />
    <span class="alert @ViewBag.classe">@ViewBag.mensagem</span>

    <script>

        function confirmExclusao(id) {
            if (confirm("Tem certeza que deseja excluir esse produto?")) {

                location.href = "/Filme/excluir/" + id;

            }
        }
    </script>

    <a href="~/filme/cadastro" class="btn btn-info">
        Novo
    </a>

<br />
<br />
<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Título</th>
                <th scope="col">Cartaz</th>
                <th scope="col">Início do Cartaz</th>
                <th scope="col">Final do Cartaz</th>
                <th scope="col">Valor da Entrada Inteira</th>
                <th scope="col">Valor da Meia Entrada</th>
                <th scope="col">Está Disponível?</th>
                <th scope="col">Alterar</th>
                <th scope="col">Excluir</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                <th scope="row">@item.id</th>
                <td>@item.titulo</td>
                <td>
                    <img src="~/Imagens/@item.imagem" class="rounded-circle" height="40" width="40" asp-append version="true" />
                </td>                  
                <td>@item.inicioCartaz</td>
                <td>@item.finalCartaz</td>
                <td>@item.valorInteira</td>
                <td>@item.valorMeia</td>
                <td>@item.estaDisponivel</td>
                <td>
                        <a href="~/filme/prealterar/@item.id"
                       class="btn btn-primary">
                            Alterar
                        </a>
                    </td>
                    <td>
                        <a href="#"
                       class="btn btn-primary" onclick="confirmExclusao(@item.id)">
                            Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

