@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@model IEnumerable<VendaIngressoModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<br />
@foreach (var item in Model){
<h1 >Comprar Ingressos para: @item.produto.titulo</h1>
}
<div class="col-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Filme</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Quantidade</th>
                <th scope="col"></th>
                <th scope="col">Valor Inteiro</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {                      
            <tr class="linhas">
                <td class="codigo">@item.id</td>
                <td>@item.idFilme</td>
                <td>
                        @item.produto.titulo
                </td>
                <td>
                    <select class="qtde">
                        @if(item.qtde==1){

                           <option value="1" selected>1</option>
                        }
                        else{

                           <option value="1">1</option>
                        }

                            @if (item.qtde == 2)
                            {

                                <option value="1" selected>2</option>
                            }
                            else
                            {

                                <option value="2" >2</option>
                            }

                            @if (item.qtde == 3)
                            {

                                <option value="3" selected>3</option>
                            }
                            else
                            {

                                <option value="3" >3</option>
                            }

                            @if (item.qtde == 4)
                            {

                                <option value="4" selected>4</option>
                            }
                            else
                            {

                                <option value="4" >4</option>
                            }

                            @if (item.qtde == 5)
                            {

                                <option value="5" selected>5</option>
                            }
                            else
                            {

                                <option value="5" >5</option>
                            }
                       
                    </select>

                </td>
                <td>

                    <a href="~/Venda/excluirProduto/@item.id">Remover</a>
                </td>
                    <td class="tdvalor">R$@item.valor </td>
                    <td><input type="hidden" class="total" value="@item.valor " /></td>
                                                     
            </tr>
            }

        </tbody>
    </table>
    <div class="row justify-content-end">
        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">Total</h5>
                <p class="card-text" id="totalGeral">R$ 00,00</p>

                @if (HttpContextAccessor.HttpContext.Session.GetInt32("idLogin") == null)
                {
                    <a href="~/Login/login" class="btn btn-primary">Finalizar</a>
                }
                else
                {
                    <a href="~/Venda/Finalizar" class="btn btn-primary">Finalizar</a>
                }

            </div>
        </div>
    </div>

    <div class="row">
        <a href="~/HomeSite/Index" class="btn btn-primary">Continuar comprando</a>
    </div>
    <br />
    <br />
    <footer class="text-center text-lg-start bg-dark text-muted">

        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section style="width:100%">
            <div style="width:100%">
                <!-- Grid row -->
                <br />
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Filmes
                        </h6>
                        <p>
                            <a href="" class="text-reset">PROGRAMAÇÃO</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">CARTAZ</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">EM BREVE</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">INGRESSOS</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Acessibilidade
                        </h6>
                        <p>
                            <a href="" class="text-reset">SOBRE</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">MOVIE READING</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Fidelidade
                        </h6>
                        <p>
                            <a href="" class="text-reset">ASSINAR</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">MINHA ASSINATURA</a>
                        </p>
                        <p>
                            <a href="" class="text-reset">SOBRE CINEMAX TOLEDO+</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contatos</h6>
                        <p><i class="fas fa-home me-3"></i> CENTRAL DE ATENDIMENTO </p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            TRABALHE CONOSCO
                        </p>
                        <p><i class="fas fa-phone me-3"></i>INGRESSO CORPORATIVO</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Copyright
            <a class="text-reset fw-bold p-2 bd-highlight" href="">2023 Cinemax Toledo</a>
            <a class="p-2 bd-highlight">POLÍTICA DE PRIVACIDADE</a>
            <a class="p-2 bd-highlight">TERMOS DE USO</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>


@section Scripts{ 
    <script>

        $(document).ready(function () {

            calculaTotal();

            $(".qtde").change(function () {
                //$(this) => quem acionou o evento
                var qtdeNova = $(this).val();
                //parent()=>retorna para elemento pai
                var id =
                    $(this).parent().parent().find(".codigo").text();
                //console.log("qtde = " + qtdeNova);
                //console.log("id = " + id);
                alterarQtde(id, qtdeNova);
            });

        });



        function alterarQtde(id, qtde) {

            $.ajax({
                type: "GET",
                url: "/Venda/alterarQtde?id=" + id +"&qtde=" + qtde,
                contentType: "application/json; charset=utf-8",
                data: "{}",
                dataType: "json",
                success: function (jsonResult) {
                    console.log(jsonResult);
                    //percorrer todas as linhas, procurando pelo ID
                    $(".linhas").each(function (index, item) {
                        var codigotab = parseInt( $(item).find(".codigo").text());
                        if (codigotab == jsonResult.id) {

                            $(item).find(".total").val(jsonResult.valor);
                            $(item).find(".tdvalor").text("R$ " + jsonResult.valor);
                            calculaTotal();
                        }
                    });
                },
                failure: function (response) {
                    alert("Erro ao carregar os dados: " + response);
                }
}           );
        }


        function calculaTotal() {
            var total = 0;
            $('.total').each(function (index, item) {
                total+= parseFloat($(item).val());//input com classe .total
            });
            //parseFloat convert string em float
            //tag p que tem o total geral
            $("#totalGeral").text("R$ " + total);

        }

    </script>

}
