@model IEnumerable<CargoModel>
@{
    ViewData["Title"] = "listar";
}

<h1>Listar Cargos</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="text-right">@Context.Session.GetString("nomeLogin")</p>
        </div>
        <div class="col-md-12">
            <img src="~/icons/do-utilizador.png" width="26" height="26"  class="float-right" alt="Imagem">
        </div>
    </div>
</div>

<br />
<span class="alert @ViewBag.classe">@ViewBag.mensagem</span>
<a href="~/Cargo/cadastro" class="btn btn-info">
    Novo
</a>
<br /><br />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Descrição</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.id</th>
                <td>@item.descricao</td>
                <td>
                    <a href="~/Cargo/prealterar/@item.id" class="btn btn-primary">
                        Alterar
                    </a>
                </td>
                <td>
                    <a href="~/Cargo/excluir/@item.id" class="btn btn-primary">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
