@model IEnumerable<AtoresModel>
@{
    ViewData["Title"] = "listar";
}

<h1>Listar Atores</h1>
<br />
<span class="alert @ViewBag.classe">@ViewBag.mensagem</span>

<script>

    function confirmExclusao(id) {
        if (confirm("Tem certeza que deseja excluir esse produto?")) {

            location.href = "/Atores/excluir/" + id;

        }
    }
</script>

<a href="~/Atores/cadastro" class="btn btn-info">
    Novo
</a>
<br />
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome do Ator</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
            <!--<th scope="col">Filmes</th>-->
   
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.id</th>
                <td>@item.nomeAtor</td>
                <td>
                    <a href="~/atores/prealterar/@item.id"
                   class="btn btn-primary">
                        Alterar
                    </a>
                </td>
                <td>
                    <a href="#"
                   class="btn btn-primary" onclick="confirmExclusao(@item.id)">
                        Excluir
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


